[Unit]
Description=Nvidia GPU Exporter
Documentation=https://github.com/utkuozdemir/nvidia_gpu_exporter
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User={{ nvidia_gpu_exporter_user }}
Group={{ nvidia_gpu_exporter_group }}
ExecReload=/bin/kill -HUP $MAINPID
ExecStart={{ nvidia_gpu_exporter_bin_dir }}/nvidia_gpu_exporter{% for arg in nvidia_gpu_exporter_args %} {{ arg }}{% endfor %}

SyslogIdentifier=nvidia_gpu_exporter
Restart=always
RestartSec=1
StartLimitInterval=0

ProtectHome=yes
NoNewPrivileges=yes

ProtectSystem=strict
ProtectControlGroups=true
ProtectKernelModules=true
ProtectKernelTunables=yes

[Install]
WantedBy=multi-user.target
